<div class="row mb-4 d-flex justify-content-center">
  <div class="col-md-3 d-flex justify-content-center mb-4">
    <div class="card summary-card text-center">
      <a href="{% url 'employees' %}" class="card-body">Employees</a>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center mb-4">
    <div class="card summary-card text-center">
      <a href="{% url 'employees' %}" class="card-body">Employees</a>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center mb-4">
    <div class="card summary-card text-center">
      <a href="{% url 'employees' %}" class="card-body">Employees</a>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center mb-4">
    <div class="card summary-card text-center">
      <a href="{% url 'employees' %}" class="card-body">Employees</a>
    </div>
  </div>
</div>
