<!-- templates/device_auth/first_time_setup.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Device Registration Required</h4>
                </div>
                <div class="card-body">
                    <p>This is your first time logging in from this device.</p>
                    <p>For security reasons, we need to register this device to your account.</p>
                    <p>After registration, you'll only be able to login from this device.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">
                            Register This Device
                        </button>
                    </form>
                    
                    <div class="mt-3">
                        <small class="text-muted">
                            If you need to use a different device, please contact IT department.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}