        <nav id="sidebar" class="sidebar text-white p-3 d-flex flex-column">
          <ul class="nav flex-column">
            <li class="nav-item">
            {% if employee.is_it %}
              <a  class="nav-link text-white" href="/">
                <i class="bi bi-house-door"></i> Inicio
              </a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'list_employees' %}">
                <i class="bi bi-people"></i> Empleados
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'agent_dashboard' %}">
                <i class="bi bi-people"></i> Status Dashboard
              </a>
            </li>
            
            {% if employee.is_it %}
            

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'supervisor_dashboard' %}">
                    <i class="bi bi-speedometer2 me-1"></i>Supervisor Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'it_device_management' %}">
                    <i class="bi bi-keyboard me-1"></i>Device Management
                </a>
            </li>

            {% endif %}
              


          </ul>
          <div class="pt-5 mt-5"> 
              <a class="btn btn-outline-light w-100" href="{% url 'account_logout' %}">
                <i class="bi bi-box-arrow-right"></i> Salir
              </a>
          </div>
        </nav>